# Ignore compiled binaries
*.exe

# Venv Crap
venv/

# Ignore SFC files
*.sfc

# Ignore image projects
*.xcf

# Ignore the test files
builder/

# Ignore Other dev crap
requirments.txt
*.sublime-project

# Ignore pyinstaller files
dist/
build/
*.spec
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.msi

# Ignore log crap
*.log
logs/