# Ignore compiled binaries
*.exe

# Ignore SFC files
*.sfc

# Ignore the test files
builder/

# Ignore pyinstaller files
make exe.bat
dist/
build/
*.spec
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.msi

# Ignore git batch files
gitaddfiles.bat
gitcommit.bat
gitpull.bat
gitpush.bat
