# Ignore compiled binaries
*.exe

# Venv Crap
venv/

# Ignore SFC files
*.sfc

# Ignore image projects
*.xcf

# Ignore the test files
builder/

# Ignore Other dev crap
requirments.txt

# Ignore pyinstaller files
dist/
build/
*.spec
*.exe
*.dmg
*.AppImage
*.deb
*.rpm
*.msi

# Ignore git batch files
gitaddfiles.bat
gitcommit.bat
gitpull.bat
gitpush.bat
gitcommitammend.bat
gitpushforce.bat